.btn{
    background-color: #6278F7;
    border: none;
    border-radius: 10px;
    padding: 24px 32px;
    font-weight: 700;
    font-family: 'Monstserrat', sans-serif;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    margin: 32px 0;
}

.btn:hover{
    color: #95FFD4;
}